@import 'tailwindcss';
@import "bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.colors-ijo {
    color: #4Fcfb1;
}

.colors-ijo-tua {
    color: #0F5A4A;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

body {
    font-family: Inter, sans-serif;
    color: #1e1e1e;
    background: linear-gradient(to bottom, #4Fcfb1, rgba(79, 207, 177, 0), #ffffff);
    background-size: 100% 90%;
    background-repeat: no-repeat;
}
